* { box-sizing: border-box; }
header, nav, main, footer, aside {display: block; }
/* This is the main css and the css for the home page */
body { background-color: #2f559c;
		background-image: url(background2.gif);
		color: #1e1e1e;
		font-family: Arial, sans-serif; }
header { background-color: #1c325c;
		height: 150px;
		border-bottom: 3px solid #1e1e1e;
		background-image: url(newhopelogo.jpg); 
		background-repeat: no-repeat; }
h1 {  padding-top: 45px;
		padding-left: 220px;
		color: #fafafa;
		font-size: 3em; }
#wrapper { width: 80%;
			min-width: 900px;
			max-width: 1280px;
			margin-right: auto;
			margin-left: auto;
			box-shadow: 5px 5px 5px #1e1e1e;
			background-color: #E2E2E2; }
main { background-color: #fafafa;
		padding-left: 2em;
		padding-right: 3em;
		padding-bottom: 7em;
		padding-top: 1em;
		margin-left: 200px; }
#mainhome { background-color: #fafafa;
		padding-left: 2em;
		padding-right: 1em;
		padding-bottom: 4em;
		padding-top: 1em;
		margin-left: 200px;
		margin-right: 200px; }
nav { text-align: left; 
		font-weight: bold;
		font-size: 1.5em;
		padding-top: 10px;
		margin-bottom: 50px;
		float: left;
		width: 200px; }
nav a { text-decoration: none; }
nav a:link { color: #1e1e1e; }
nav a:visited { color: #1e1e1e; }
nav a:hover { color: #fafafa }
nav ul { list-style-image: url(navpaw.jpg);
		list-style-type:none;
		padding-left: 2em; }		
		
aside { float: right;
		width: 200px;
		padding-left: 1em;
		padding-right: 1em; }
aside h3 a {color: #1e1e1e; }
aside p a {color: #1e1e1e;
			text-decoration: none; }
aside a:hover { color: #2F559C;
				transition: color .5s ease-out; }
aside p { border-bottom: 2px solid #1e1e1e;
			padding-bottom: 1em; }
		
footer { background-color: #1c325c;
			color: #fafafa;
			font-size: .60em; 
			font-style: italic;
			text-align: center;
			padding-bottom: 10px;
			border-top: 3px solid #1e1e1e;
			clear: both;}
footer a {color: #fafafa; }

th {font-weight: normal; }
#fees td, th { padding-right: 10px;
		padding-left: 10px; 
		padding-bottom: 5px}
#fees tr:nth-of-type(odd) {background-color: #e2e2e2; }

#mobile { display: none; }


/* This is the css added for the About page */
#luke { background-color: #e2e2e2;
		color: #1e1e1e;
		font-weight: bold;
		float: right; 
		margin-top: 5em;
		margin-left: 1em;
		margin-bottom: 3em;
		text-align: center;
		transform: rotate(2deg);
		box-shadow: 5px 5px 5px #1e1e1e;}
#luke img { padding: 10px; }

/* This is the css added for the Help page */
dt { font-weight: bold;
	color: #1c325c }
dd { padding-bottom: 20px; }

/* This is the css added for the Newsletter */
#back { float: none;
		font-size: 1.2em;
		color: #1e1e1e;
		height: 35px; }
#back ul { list-style-type: none;
		list-style-image: none; }
#newsletter { background-color: #fafafa;
		padding-left: 6em;
		padding-right: 6em;
		padding-bottom: 8em;
		padding-top: 1em;
		margin-left: 0; }
#newsheader { color: #1e1e1e; 
			padding: 0;
			text-align: center; }

/* This is this css added for the dog/cat/other pets pages */
#gallery ul {list-style-type: none; }
#gallery li { display: inline-block;
	width: 250px;
	height: 300px;
	margin: 10px;
	background-color: #e2e2e2;
	text-align: center; }
#gallery span { font-weight: bold; }

	a {color: #1e1e1e; }
	
	
/* this is the css added for the adoption form page */

form { padding: 2em; }
label { display: block;
		font-weight: bold; 
		color: #1C325C }
input, textarea { display: block; 
					margin-bottom: 1.5em;
					border: 1px solid #1e1e1e; }
#submit { margin-left: 1em;
		border: none; }

/* Colors: *#1C325C *#2F559C #4278DB #467EE8 #3A6AC2 -Blues #1e1e1e -Black
#fafafa -White #e2e2e2 -Grey */

/* Mobile device layouts */

@media only screen and (max-width: 900px)
{
body { margin: 0;
	background-image: none; }
#wrapper { width: auto;
			min-width: 0;
			margin: 0;
			padding: 0;
			box-shadow: none; }
header { border-bottom: 5px solid #1e1e1e;
		border-top: 3px solid #1e1e1e; }
footer { border-bottom: 3px solid #1e1e1e; }
h1 { margin-top: 0;
	margin-bottom: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	font-size: 2.5em; }
nav { float: none;
		width: auto;
		padding-top: 0;
		margin: 10px;
		font-size: 1.3em;
		text-align: center; }
nav li { display: inline-block; }
nav a { padding: 1em;
		width: 8em;
		font-weight: bold;
		border-style: none; }
nav ul { padding: 0;
			margin: 0; }
main { margin: 0;
		padding: 1em;
		font-size: 90%; }
aside { font-size: 90%; }
nav img { display: none; }
#mainhome { margin-left: 0; }
}


@media only screen and (max-width: 700px)
{
header { background-image: none;
	height: 128px; }
h1 { font-size: 2em;
	text-align: center;
	padding-left: 0; }
nav { margin: 0 }
nav a { display: block;
		padding: .2em;
		width: auto;
		border-bottom: 1px solid #1e1e1e }
nav li { display: block; }
main { padding-top: 1px; }
h2 { padding-top: .5em;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: .5em; 
	margin-right: .5em; }
aside { float: none; 
		display: none; }	
#newsletter { padding: 1em; }
#mainhome { margin-right: 0; }
#mobile {display: inline; }
	
}





